<%= render 'layouts/headerhome' %>
<div class="container">

	<h2><%= current_user.name %></h2>
	<p>adminモード</p>
	<%= render 'layouts/attendanceform' %>

    <h1>All Users</h1>
    <table class="users-table">
        <thead>
            <tr>
                <th>名前</th>
                <th>職種</th>
                <th>時給</th>
                <th>状態</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>
            <% @users.each do |user| %>
                <tr class="user-show">
                    <td><%= user.name %></td>
                    <td>
                        <% if user.ptj == true %>
                            アルバイト
                        <% else %>
                            社員
                        <% end %>
                    </td>
                    <td>
                        <%= user.wage %>
                    </td>
                    <td>
                        <% if user.retire == true %>
                            退職
                        <% else %>
                            　
                        <% end %>
                    </td>
                    <td>
                    <%= link_to '詳細', admin_user_path(user), class: 'btn btn-logout' %>
                    <%= link_to '編集', edit_admin_user_path(user), class: 'btn btn-logout' %>
                    <%= link_to '削除', admin_user_path(user), method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'btn btn-logout' %> 
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>

    <br>

	<%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>
</div>