<%= render 'layouts/headerhome' %>
<div class="container">
  <h2><%= current_user.name %></h2> 

  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  
  <%= render 'layouts/attendanceform', next_action: @next_action %>

  <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>
</div>
