<h2><%= @year %>年<%= @month %>月の出勤ログ</h2>
<br>
<table class="attendance-table">
  <thead>
    <tr>
      <th></th>
      <th>出勤</th>
      <th>休憩</th>
      <th>戻り</th>
      <th>退勤</th>
    </tr>
  </thead>
  <tbody>

    <% (1..Time.days_in_month(@month.to_i, @year.to_i)).each do |day| %>
      <tr>
        <td><%= day %></td>
        <% ["attendance", "break_start", "break_end", "leave"].each do |type| %>
          <td>
            <% if type == "leave" %>
              <% log = @attendance_logs.select { |l| l.created_at.in_time_zone("Asia/Singapore").to_date.day == day && l.attendance_type == type }.last %>
              <%= log.present? ? log.created_at.strftime("%H:%M:%S") : " " %>
            <% else %>
              <% log = @attendance_logs.find { |l| l.created_at.in_time_zone("Asia/Singapore").to_date.day == day && l.attendance_type == type } %>
              <%= log.present? ? log.created_at.strftime("%H:%M:%S") : " " %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  
</table>
