<%= render 'layouts/headerhome' %>

<div class="container">
  <h2>出勤記録</h2>
  <%= @message %>
  <%= render 'attendances/index' %>
  
  <h4>今月の給料は</h4> <h4>円です</h4>


  <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>
  <%= link_to "マイページに戻る", member_path, class: "btn btn-logout" %>

</div>
