<%= render 'layouts/headerhome' %>

<div class="container">
  <h2><%= current_user.name %>の出勤記録</h2>
  <%= link_to "マイページに戻る", member_path, class: "btn" %>
  <% if flash[:notice] %>
    <h3><%= flash[:notice] %></h3>
  <% end %>
  
  <%= render 'attendances/index' %>
  
  
  <h4>今月の給料は</h4> <h4>円です</h4>


  <%= button_to "ログアウト", destroy_user_session_path, method: :delete, class: "btn btn-logout" %>

</div>
